<div class="page page-root">
  <div class="page-inner">
    <% @days.each do |day| %>
      <div class="events-day">
        <h3><%= day %></h3>
	<% cates = @event_group[day] %>
	<% cates.each do |cate| %>
	  <div class="events-ancestor">
	    <%= link_to  cate.name, cate.link_path %>
	    <% cate.items.each do |item| %>
	      <div class="event">
		<a href="#event-<%= item.event_id %>" class="event-created-at"><%= item.created_hm %></a>
		<span class="event-actor">
		  <%= link_to item.user_name, '' %>
		</span>
		<span class="event-action">
		  
		</span>
	      </div>
	    <% end %>
	  </div>
	<% end %>
      </div>
    <% end %>
  </div>
</div>
